<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HSR Damage Calculator
    </ion-title>
  </ion-toolbar>

  <div style="display: flex; padding: 8px; background-color: #1e1e1e; text-align: center;">
    @if (damageHistory.length > 0) {
    <div style="flex: 6; display: flex; flex-direction: column; font-size: 1rem;">
      <div>Dano Atual</div>
      <div>
        {{damageHistory[damageHistory.length - 1]}}
      </div>
    </div>
    }

    @if (damageHistory.length > 1) {
    <div style="flex: 6; display: flex; flex-direction: column; font-size: 1rem;">
      <div>Ultimo Dano</div>
      <div>{{damageHistory[0]}}</div>
    </div>
    }
  </div>

</ion-header>

<ion-content [fullscreen]="true">

  <div style="display: flex; flex-direction: column; gap: 5px; padding:5px; background-color: #333;">

    <ion-item style="flex: 6;">
      <ion-input label="Descrição (Opcional)" labelPlacement="stacked" placeholder="ex.: Clara Pericia" [clearInput]="true"
        type="text" [(ngModel)]="description">
      </ion-input>
    </ion-item>

    <!-- <label class="myInput">
      <span class="inputLabel">Nivel do Personagem</span>
      <input class="myInput__input" type="numeric" [(ngModel)]="vapo" [maskito]="maskMinNumber">
    </label>
    <button (click)="junk()">junk</button> -->

    <div style="display: flex; gap: 5px;">

      <label class="myInput" style="flex: 6;">
        <span class="inputLabel">Nivel do Personagem</span>
        <input class="myInput__input" type="numeric" [(ngModel)]="characterLevel" [maskito]="maskToMaxLevelCharacter">
      </label>

      <label class="myInput" style="flex: 6;">
        <span class="inputLabel">Nivel do Inimigo</span>
        <input class="myInput__input" type="numeric" [(ngModel)]="enemyLevel" [maskito]="maskMinNumber">
      </label>

    </div>

    <label class="myInput">
      <span class="inputLabel">
        Atributo de escalonamento da Habilidade
        <br>
        <span style="font-size: 0.7rem; color: rgb(6, 142, 206);">
          (ATQ, HP ou DEF)
        </span>
      </span>
      <input type="numeric" [(ngModel)]="scallingAtribute" [maskito]="maskMinNumber">
    </label>

    <label class="myInput">
      <span class="inputLabel">Multiplicador de Dano da Habilidade</span>
      <input class="myInput__input" type="numeric" [(ngModel)]="skillMultiplier" [maskito]="maskNumberPercentage">
    </label>

    <div class="inputWithExtraInfos">
      <ion-item>
        <ion-label style="font-size: 0.9rem;">Habilidade Pode Causar Dano Critico?</ion-label>
        <ion-toggle [(ngModel)]="causedCrit"></ion-toggle>
      </ion-item>

      @if (causedCrit) {

      <label class="myInput">
        <span class="inputLabel">Dano Critico do Personagem</span>
        <input class="myInput__input" type="numeric" [(ngModel)]="critDamage" [maskito]="maskNumberPercentage">
      </label>

      }
    </div>

    <label class="myInput">
      <span class="inputLabel">Dano Elemental</span>
      <input class="myInput__input" type="numeric" [(ngModel)]="elementalDamage" [maskito]="maskNumberPercentage">
    </label>

    <div style="display: flex; flex-direction: column; gap: 5px;">

      <div class="inputWithExtraInfos">

        <label class="myInput">
          <span class="inputLabel">
            Bonus de Dano
            <span style="font-size: 0.7rem; color: rgb(6, 142, 206);">
              (Bonus de Dano, Ataque extra, pericia, ataque basico)
            </span>
          </span>
          <input class="myInput__input" type="numeric" [(ngModel)]="damageBoost" [maskito]="maskNumberPercentage">
          <ion-button fill="clear" style="border: 1px solid #428cff; border-radius: 10px;" (click)="addBoostDamage()">
            Adicionar
          </ion-button>
        </label>

        @if (allDamageBoost.length > 0) {
        <ion-item>
          <span style="font-size: 0.9rem;">
            Bonus total {{sharedService.sumNumberInArray(allDamageBoost)}}%
          </span>
          <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="removeAllBoostDamage()">
            Limpar Bonus de Dano
          </ion-button>
        </ion-item>
        }

      </div>

    </div>

    <div style="display: flex; gap: 5px;">

      <div class="inputWithExtraInfos" style="display: flex; flex: 6; flex-direction: column;">

        <label class="myInput" style="flex: 6;">
          <span class="inputLabel">Redução de Defesa</span>
          <input class="myInput__input" type="numeric" [(ngModel)]="reductionDefense" [maskito]="maskNumberPercentage">
        </label>

        <ion-button fill="clear" aria-label="Show/hide" (click)="addReductionDefenseEnemy()">
          Adicionar
        </ion-button>

        @if (reductionsEnemyDefense.length > 0) {
        <span style="background-color: #1e1e1e; font-size: 0.8rem; text-align: center; padding: 4px;">
          Defesa Reduzida {{sharedService.sumNumberInArray(reductionsEnemyDefense)}}%
          <ion-button fill="clear" style="font-size: 0.8rem; margin: 0;" (click)="removeReductionDefenseEnemy()">
            Limpar
          </ion-button>
        </span>
        }


      </div>

      <div class="inputWithExtraInfos" style="display: flex; flex-direction: column; flex: 6;">

        <label class="myInput" style="flex: 6;">
          <span class="inputLabel">Defesa Ignorada</span>
          <input class="myInput__input" type="numeric" [(ngModel)]="ignoreDefense" [maskito]="maskNumberPercentage">
        </label>

        <ion-button fill="clear" aria-label="Show/hide" (click)="addIgnoreEnemyDefense()">
          Adicionar
        </ion-button>

        @if (ignoredEnemyDefenses.length > 0) {
        <span style="background-color: #1e1e1e; font-size: 0.8rem; text-align: center; padding: 4px;">
          Defesa Ignorada {{sharedService.sumNumberInArray(ignoredEnemyDefenses)}}%
          <ion-button fill="clear" style="font-size: 0.8rem; margin: 0;" (click)="removeIgnoreEnemyDefense()">
            Limpar
          </ion-button>
        </span>
        }

      </div>

    </div>

    <label class="myInput">
      <span class="inputLabel">Diminuição de Resistência</span>
      <input class="myInput__input" type="numeric" [(ngModel)]="decreaseResistanceEnemy"
        [maskito]="maskNumberPercentage">
    </label>

    <label class="myInput">
      <span class="inputLabel">Penetração de Resistencia do Personagem</span>
      <input class="myInput__input" type="numeric" [(ngModel)]="characterResistancePenetration"
        [maskito]="maskNumberPercentage">
    </label>

    <ion-item style="font-size: 0.9rem;">
      <ion-label>Inimigo possui fraqueza ao elemento do personagem?</ion-label>
      <ion-toggle [(ngModel)]="weakAgainstTheElement"></ion-toggle>
    </ion-item>

    <ion-item style="font-size: 0.9rem;">
      <ion-label>Inimigo com quebra de Fraqueza?</ion-label>
      <ion-toggle [(ngModel)]="weaknessBroken"></ion-toggle>
    </ion-item>

  </div>

</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-buttons style="display: flex; justify-content: space-around;">
      <ion-button style="border: 1px solid white; border-radius: 10px;" (click)="clearInformations()">
        Limpar Tudo
      </ion-button>
      <ion-button style="border: 1px solid white; border-radius: 10px;" (click)="damageCalculator()">
        Calcular
      </ion-button>
      <!-- <ion-button style="border: 1px solid white; border-radius: 10px;" (click)="huohuo()">
        huohuo
      </ion-button> -->
      <ion-button style="border: 1px solid white; border-radius: 10px;" (click)="clara()">
        clara
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>